/*------------ Variables -----------*/

// Colors
$brandprimary: #d96528;
$brandsecondary: #03c1c1;

// Typography
$fontSerif: "Times New Roman",
serif;
$fontSansSerif: 'Helvetica Neue',
Arial,
sans-serif;

// Screen Widths
$deviceXs: 414px;
$deviceSm: 640px;
$deviceMd: 768px;
$deviceLg: 1024px;
$deviceXl: 1280px;

/*------------ Mixins -----------*/

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
